@model IEnumerable<CountryDb>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Countries</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-area="" asp-controller="Country" asp-action="CreateCountry">Create a country</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Country" asp-action="EditCountry">Edit a country</a>

    <form asp-controller="Country" asp-action="DeleteCountry" method="post" role="form">
        <br />
        <label for="ssn">Enter country Id for deletion:</label>
        <input type="text" name="id" />
        <input type="submit" class="btn btn-primary" name="btnFilter" value="delete" />
    </form>
</div>
