<div>
    <h2>@ViewBag.Title</h2>

    <div>
        <h2>Person list using Ajax</h2>
        <div id="errorMessages"></div>

        <input type="button" class="btn btn-primary" onclick="GetPeople()" value="List people" />
    </div>

</div>