@model PersonLanguageViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Languages</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LanguagesWithPersonsList)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
    <li>
        <a class="btn btn-primary" asp-area="" asp-controller="Language" asp-action="CreateLanguage">Create a language</a>
    </li>
</div>
