@model PeopleViewModelDb
@{
    ViewData["Title"] = "CreatePerson";
}
<div class="container">

    <h2>CreatePerson</h2>

    <hr />
    <form asp-controller="PeopleDb" asp-action="CreatePerson" method="post">
        <label asp-for="Name"></label>
        <br />
        <input asp-for="Name" />
        <br />
        <label asp-for="PhoneNr"></label>
        <br />
        <input asp-for="PhoneNr" />
        <br />
        <label asp-for="SSN"></label>
        <br />
        <input asp-for="SSN" />
        <br />
        <label asp-for="CityId"></label>
        <br />
        <input asp-for="CityId" />
        <br />
        <input type="submit" value="Create person" />
        <br />



    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


</div>