@model PeopleViewModelDb
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <h1>People</h1>

    @if (User.IsInRole("Admin"))
    {
        <p>Hello Admin! You can delete a person</p>

        <form asp-controller="PeopleDb" asp-action="DeletePerson" method="post" role="form">
            <br />
            <label for="ssn">Enter SSN:</label>
            <input type="text" name="ssn" />
            <input type="submit" class="btn btn-primary" name="btnFilter" value="delete" />
        </form>
    }

    <table class="table">
        <thead>
            <tr>
                <th>SSN</th>
                <th>Name</th>
                <th>PhoneNr</th>
                <th>City Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PeopleListView)
            {
                <tr>
                    <td>@item.SSN</td>
                    <td>@item.Name</td>
                    <td>@item.PhoneNr</td>
                    <td>@item.CityId</td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" asp-area="" asp-controller="PeopleDb" asp-action="CreatePerson">Create a Person</a>
    <a class="btn btn-primary" asp-area="" asp-controller="PeopleDb" asp-action="EditPerson">Edit a person</a>
</div>