@model PeopleViewModelDb
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<table class="table">
    <thead>
        <tr>
            <th>SSN</th>
            <th>Name</th>
            <th>PhoneNr</th>
            <th>City Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PeopleListView)
        {
            <tr>
                <td>@item.SSN</td>
                <td>@item.Name</td>
                <td>@item.PhoneNr</td>
                <td>@item.CityId</td>
            </tr>
        }
    </tbody>
</table>