<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <ul class="navbar-links">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index"> <img src="~/images/mvc logo.png" class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index" /> </a>
                    </li>

                    <li>
                        <a class="btn btn-primary btn-danger" asp-area="" asp-controller="PeopleDb" asp-action="Index">People</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a class="btn btn-primary" asp-area="" asp-controller="City" asp-action="Index">Cities</a>
                        </li>
                        <li>
                            <a class="btn btn-primary" asp-area="" asp-controller="Country" asp-action="Index">Countries</a>
                        </li>
                    }
                    <li>
                        <a class="btn btn-primary btn-danger" asp-area="" asp-controller="Language" asp-action="Index">Languages</a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-danger" asp-area="" asp-controller="PersonLanguage" asp-action="Index">person & languages</a>
                    </li>
                    <li>
                        <a class="btn btn-primary" asp-area="" asp-controller="React" asp-action="Index">React</a> 
                    </li>
                    <li>
                        <partial name="_LoginPartial" class="nav-link" />
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/PersonScript.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
