<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index">Albin test</a>
                <a asp-controller="Home" asp-action="Index"></a>
                <div class="navbar-links">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home </a>
              
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Testing" asp-action="Index">Testing index </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Testing" asp-action="Person">Create Person</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </nav>
    </header>
    
    
    <div>
        @RenderBody()
    </div>
</body>
<footer>@DateTime.Now.ToShortDateString() Albin de Val</footer>
</html>
