<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <img src="~/images/mvc logo.png" class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index"/>
                    <ul class="navbar-links">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Info" asp-action="About">About </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Info" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Info" asp-action="Project">Projects</a>
                        </li>
                    </ul>
            </div>
        </nav>
    </header>
    
    
    <div>
        @RenderBody()
    </div>
</body>
<footer>@DateTime.Now.ToShortDateString() Albin de Val</footer>
</html>
