@model PeopleViewModel
@{
    ViewData["Title"] = "People";
}


<div class="container">
    <h1>People Index</h1>
    <form asp-controller="People" asp-action="Search" method="post" role="form">
        @Html.AntiForgeryToken()
        <br />
        <label asp-for="FilterString"> Filter Person</label>
        <br />
        <input asp-for="FilterString" required />
        <input type="submit" class="btn btn-primary" name="btnFilter" value="search" />
    </form>

    <br /><br />
    <p> Add Person:</p>
    <form asp-controller="People" asp-action="CreatePerson" method="post">
        <label asp-for="Name"></label>
        <br />
        <input asp-for="Name" />
        <br />
        <label asp-for="PhoneNr"></label>
        <br />
        <input asp-for="PhoneNr" />
        <br />
        <label asp-for="City"></label>
        <br />
        <input asp-for="City" />
        <br />
        <input type="submit" value="Create person" />
        <br />
        <p>@ViewBag.Message</p>
        <br />


    </form>

    <div>
        <partial name="_partialPerson" model="Model.PeopleListView" />
    </div>
    </table>
</div>

