body > header a, a:visited, a:hover, a:focus {
    text-decoration: none;
    color: #000;
}

body {
    font-family: sans-serif;
}
body > header {
        width: 100%;
        border-bottom: 1px solid black;
        font-size: 22px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; 
}
nav.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.navbar-links { /*flexbox for our links */
    text-decoration: none;
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: row;
}

