@model IEnumerable<PersonLanguage>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Languages</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Person Id</th>
                <th>Language Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.LanguageId</td>
                    <td>@item.PersonId</td>
                </tr>
            }
        </tbody>
    </table>
</div>