@model PersonLanguageViewModel
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <h1>Index</h1>

    <p>
        <a class="btn btn-primary" asp-area="" asp-controller="Language" asp-action="Index">Create/Delete Language</a>
    </p>
    <p>
        <a class="btn btn-primary" asp-area="" asp-controller="PersonLanguage" asp-action="Display">Display Languagues and Persons</a>
    </p>
    @foreach (var item in Model.LanguagesWithPersonsList)
    {
        <tr>
            <td>
                <h4> @Html.DisplayFor(modelItem => item.LanguageId)
                     @Html.DisplayFor(modelItem => item.LanguageName)</h4>
            </td>
            <td>
                @foreach (var person in item.People)
                {
                    <partial name="_partialPersonLangDb" for="@person" />
                }
            </td>
        </tr>
    }

    <div>
        <h2>Add Language to Person</h2>
        <form class="form" asp-action="AddLanguageToPerson" method="post">
            <div class="form-group">
                <label asp-for="PersonName">Person Name</label>
                <input asp-for="PersonName" class="form-control" />
                <span asp-validation-for="PersonName"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageIdString">Language Id</label>
                <input asp-for="LanguageIdString" class="form-control" />
                <span asp-validation-for="LanguageIdString"></span>
            </div>
            <div>
                <input type="submit" value="Add Language to a Person" class="btn btn-primary" />
            </div>
        </form>
    </div>


</div>

