
@{
    ViewData["Title"] = "About";
}
<div class="container">
    <h1>
        Hej! Mitt namn är Albin de Val!
    </h1>
    <p>
        Jag är 32 år och är boende i Landala, Göteborg.
        Jag har ett stort intresse av dagens (och framtidens) teknik och skulle gärna arbeta med något inom den branschen. Jag skulle beskriva mig själv som en pålitlig och trygg person som alltid försöker hålla humöret uppe. Jag är driven och väldigt intresserad av att lära mig nya saker.
        På fritiden gillar att hålla mig aktiv, är ute och springer någon gång i veckan och dessutom är jag med och spelar fotboll i korpserien. Så jag förstår verkligen vikten av att ha bra laganda om man jobbar som ett team för att nå bra resultat. Utöver det så är resor, sport och spel mina stora intressen.
    </p>

</div>