
@{
    ViewData["Title"] = "Contact";
}
<div class="container">
    <h2>Kontakt Info</h2>

    <a href="mailto: abc@example.com">Maila mig</a>
    <p>0700123456</p>
    <p>Landalabergen Göteborg</p>
</div>