
@{
    ViewData["Title"] = "Project";
}

<h2>Mina andra projekt:</h2>
<ul>
    <li><a href="https://github.com/devalalbin/Hangman" class="link-button" id="link-hangman"> Hangman</a></li>
    <li><a href="https://github.com/devalalbin/Calculator" class="link-button" id="link-calculator"> Calculator</a></li>
    <li><a href="https://github.com/devalalbin/Core-Console" class="link-button" id="link-coreconsole"> CoreConsole</a> </li>
    <li><a href="https://github.com/devalalbin/Vending-Machine" class="link-button" id="link-vendingmachine"> Vending Machine</a> </li>
    <li><a href="https://github.com/devalalbin/HTML-CSS" class="link-button" id="link-htmlcss"> HTML CSS</a></li>
    <li><a href="https://github.com/devalalbin/Sokoban" class="link-button" id="link-htmlcss"> Sokoban</a></li>
</ul>

