
@{
    ViewData["Title"] = "Project";
}
<div>
    <h2>Mina andra projekt:</h2>
    <ul>
        <li><a href="https://github.com/devalalbin/Hangman" class="link-button" id="link-hangman">Hangman:</a> : a game where you guess letters</li>
        <li><a href="https://github.com/devalalbin/Calculator" class="link-button" id="link-calculator"> Calculator</a> maths!</li>
        <li><a href="https://github.com/devalalbin/Core-Console" class="link-button" id="link-coreconsole"> CoreConsole</a> a project where you assign people to todos with testing</li>
        <li><a href="https://github.com/devalalbin/Vending-Machine" class="link-button" id="link-vendingmachine"> Vending Machine</a> buy drinks, snacks or toys and use them </li>
        <li><a href="https://github.com/devalalbin/HTML-CSS" class="link-button" id="link-htmlcss"> HTML CSS</a> a basic website with styiling </li>
        <li><a href="https://github.com/devalalbin/Sokoban" class="link-button" id="link-htmlcss"> Sokoban</a> a box pushing game</li>
    </ul>

</div>
